workflows/gas_station_analyzer.json
{
  "updatedAt": "2026-01-27T01:50:00.000Z",
  "createdAt": "2026-01-18T04:19:04.148Z",
  "id": "f8h0TZ4lTu3YDzTX",
  "name": "Gas Station Analyzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "e5d6df9b-5b61-466b-951c-2bc33c1a24f6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1984,
        336
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "de704919-205a-470f-a417-b297fbbdbaf8",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4c0d7a64-3a80-4924-b014-595e9a82919b",
      "name": "Loop Until Complete",
      "type": "n8n-nodes-base.if",
      "position": [
        -848,
        336
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "id": "b50aca8c-962e-4cb4-8386-c709ec56fffc",
      "name": "Read Pending Queries",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1760,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"searchStringsArray\": [\n \"{{ $json.Query }}\"\n ],\n \"locationQuery\": \"{{ $json.Location }}\",\n \"maxCrawledPlacesPerSearch\": 15\n}",
        "options": {}
      },
      "id": "2634eb12-ff72-4a57-9238-2ff75fce5aa0",
      "name": "Start Apify Scraping Job",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1504,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "OAAUZfFfnrhClGqs",
          "name": "Bearer Auth apyfy"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1f35a2f-a6d3-4471-b14a-3122a65adecd",
      "name": "Wait for Job Succeed",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1280,
        336
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "718691eb-2bfc-432e-a4db-d8188b11993b",
      "name": "Check Scraping Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1056,
        272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "OAAUZfFfnrhClGqs",
          "name": "Bearer Auth apyfy"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "85c344ed-4fa3-4637-a276-1faf6a66fc48",
      "name": "Fetch Scraped Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -624,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "OAAUZfFfnrhClGqs",
          "name": "Bearer Auth apyfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1948906848,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "00d2856c-6a3e-4e10-8c5e-45d6e1d5b8a3",
      "name": "Save Business Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -112,
        336
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "value": {
            "Status": "TRUE"
          },
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Query"
          ]
        }
      },
      "id": "4531ec1f-db85-474c-9603-3d4592de136a",
      "name": "Mark as Processed",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        152,
        336
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import sys\nimport json\n# Professional Python Integration\nsys.path.append('/home/node/project_workflows/maps_scraper')\nfrom src.processor import process_stations_batch\n\nraw_data = [item.json for item in _input.all()]\nresults = process_stations_batch(raw_data)\nreturn results",
        "jsCode": "// Fallback for older n8n versions or validation checks\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        336
      ],
      "id": "38aa5225-f934-4750-bcfc-f20cb6e63c12",
      "name": "Python - Process Gas Stations"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        576
      ],
      "id": "49a6d7a9-a6a2-4599-83e9-5458e9bdee40",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "fromEmail": "noreply@gasstationanalyzer.com",
        "toEmail": "daniel.sh.be@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.body }}"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -368,
        560
      ],
      "id": "d92a45fc-7e6b-4519-83c7-a5e0c0273856",
      "name": "Send email"
    },
    {
      "parameters": {
        "jsCode": "// Format error message\nconst data = $input.first().json;\nreturn [{\n  json: {\n    subject: `\ud83d\udea8 Error en Gas Station Analyzer`,\n    body: `Hubo un error en el nodo: ${data.execution?.lastNodeExecuted || 'Desconocido'}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        608
      ],
      "id": "00bf8d0c-9a15-45ae-b1ab-7de8e1390345",
      "name": "Format Error Message"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Queries": {
      "main": [
        [
          {
            "node": "Start Apify Scraping Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Scraping Job": {
      "main": [
        [
          {
            "node": "Wait for Job Succeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Job Succeed": {
      "main": [
        [
          {
            "node": "Check Scraping Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scraping Status": {
      "main": [
        [
          {
            "node": "Loop Until Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Until Complete": {
      "main": [
        [
          {
            "node": "Wait for Job Succeed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Scraped Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraped Results": {
      "main": [
        [
          {
            "node": "Python - Process Gas Stations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python - Process Gas Stations": {
      "main": [
        [
          {
            "node": "Save Business Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Business Data": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}