workflows/gas_station_analyzer.json
{
  "name": "Google Maps business scraper with contact extraction via Apify and Firecrawl",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "30d8d289-65a7-4a5d-9b80-63e2e3198531",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2016,
        368
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "de704919-205a-470f-a417-b297fbbdbaf8",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7cf744f7-9f6b-4275-9f08-c330acac3834",
      "name": "Loop Until Complete",
      "type": "n8n-nodes-base.if",
      "position": [
        -928,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper - local",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo/edit#gid=0"
        },
        "options": {}
      },
      "id": "a7dce836-f6b3-455b-a64e-901fde40283c",
      "name": "Read Pending Queries",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1808,
        368
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": [\n    \"{{ $json.Query }}\"\n  ],\n  \"locationQuery\": \"{{ $json.Location }}\",\n  \"maxCrawledPlacesPerSearch\": 15,\n  \"language\": \"en\",\n  \"maximumLeadsEnrichmentRecords\": 0,\n  \"maxImages\": 0\n}",
        "options": {}
      },
      "id": "e80b2b4b-ae7a-4634-8127-5a84774bbf52",
      "name": "Start Apify Scraping Job",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1584,
        368
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "OAAUZfFfnrhClGqs",
          "name": "Bearer Auth apyfy"
        }
      }
    },
    {
      "parameters": {},
      "id": "bd3ba7ab-5dd7-4d1a-886e-e376f96792e7",
      "name": "Wait for Job Succeed",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1360,
        368
      ],
      "webhookId": "97a65079-8ee5-45a2-9de0-afd263bbbe34",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "d140649d-fa96-42bb-8c1e-4e7182f869a2",
      "name": "Check Scraping Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1136,
        304
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "OAAUZfFfnrhClGqs",
          "name": "Bearer Auth apyfy"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "46a4715b-041b-4633-8a3b-2e0f18ba955a",
      "name": "Fetch Scraped Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -704,
        368
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "OAAUZfFfnrhClGqs",
          "name": "Bearer Auth apyfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper - local",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1948906848,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PWbrLBshcW_lb0L04C4vnlMStwU6t5X6DNRgY5OTgCo/edit#gid=1948906848"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Station_ID": "={{ $json.Station_ID }}",
            "Station_Name": "={{ $json.Station_Name }}",
            "address": "={{ $json.Address }}",
            "Latitude": "={{ $json.Latitude }}",
            "Longitude": "={{ $json.Longitude }}",
            "Rating_Average": "={{ $json.Rating_Average }}",
            "Total_Reviews": "={{ $json.Total_Reviews }}",
            "Open_24_Hours": "={{ $json.Open_24_Hours }}",
            "Google_Maps_URL": "={{ $json.Google_Maps_URL }}",
            "Decision_Score": "={{ $json.Decision_Score }}",
            "Nearby_OXXO": "={{ $json.Nearby_OXXO }}",
            "Nearby_Coffee": "={{ $json.Nearby_Coffee }}",
            "Nearby_Mechanic": "={{ $json.Nearby_Mechanic }}",
            "Nearby_ATM": "={{ $json.Nearby_ATM }}",
            "Amenities_Score": "={{ $json.Amenities_Score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "searchString",
              "displayName": "searchString",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Station_ID",
              "displayName": "Station_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Station_Name",
              "displayName": "Station_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating_Average",
              "displayName": "Rating_Average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Reviews",
              "displayName": "Total_Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Open_24_Hours",
              "displayName": "Open_24_Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Google_Maps_URL",
              "displayName": "Google_Maps_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision_Score",
              "displayName": "Decision_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4a460fc5-9e01-4629-884e-e60789275d3c",
      "name": "Save Business Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -480,
        368
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2218f0be-2c48-4a1a-bd21-8bdb67c495a1",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": ""
            },
            {
              "id": "d0ef3194-ee94-45c5-b9c3-5db32f08d1b5",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "a7c67292-3733-4b8b-bf32-a51c45cedee2",
      "name": "Filter Businesses with Websites",
      "type": "n8n-nodes-base.filter",
      "position": [
        -256,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d3ed6c18-fc26-41dd-bd81-2bc6699d982e",
      "name": "Batch Processing Logic",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -48,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.website }}\",\n  \"formats\": [\n    \"html\"\n  ]\n}",
        "options": {}
      },
      "id": "7adbcec7-1d5e-4cbf-933b-d4b826f3f305",
      "name": "Scrape Website Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        272
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// N8N Code Node - Extract emails, LinkedIn, Facebook, Instagram for single item\nconst item = $input.first();\n\n// Get the text content to search (adjust field names as needed)\nconst textContent = item.json.data.html;\n\n// Initialize result object\nconst result = {\n  website: $('Batch Processing Logic').first().json.website,\n  emails: \"None\",\n  linkedin: \"None\", \n  facebook: \"None\",\n  instagram: \"None\",\n  twitter: \"None\"\n};\n\n// Email extraction regex - matches common email patterns\nconst emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/gi;\nconst emails = textContent.match(emailRegex);\n\nif (emails && emails.length > 0) {\n  // Remove duplicates and filter out common non-email matches\n  const uniqueEmails = [...new Set(emails)].filter(email => {\n    const lowerEmail = email.toLowerCase();\n    return !lowerEmail.includes('example.com') && \n           !lowerEmail.includes('test@') &&\n           !lowerEmail.includes('noreply@') &&\n           !lowerEmail.includes('no-reply@') &&\n           lowerEmail.length > 5;\n  });\n  \n  if (uniqueEmails.length > 0) {\n    result.emails = uniqueEmails.length === 1 ? uniqueEmails[0] : uniqueEmails.join(', ');\n  }\n}\n\n// LinkedIn extraction - improved pattern\nconst linkedinRegex = /(?:https?:\\/\\/)?(?:www\\.)?linkedin\\.com\\/(?:in\\/|company\\/|pub\\/)[a-zA-Z0-9\\-._]+\\/?/gi;\nconst linkedinMatches = textContent.match(linkedinRegex);\nif (linkedinMatches && linkedinMatches.length > 0) {\n  const cleanLinkedin = linkedinMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.linkedin = cleanLinkedin;\n}\n\n// Facebook extraction - improved to match numeric IDs and usernames\nconst facebookRegex = /(?:https?:\\/\\/)?(?:www\\.|m\\.|mobile\\.)?facebook\\.com\\/(?:[^\\/\\s]+\\/)*[^\\/\\s?#]+/gi;\nconst facebookMatches = textContent.match(facebookRegex);\nif (facebookMatches && facebookMatches.length > 0) {\n  const cleanFacebook = facebookMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.facebook = cleanFacebook;\n}\n\n// Instagram extraction - improved to match various URL formats\nconst instagramRegex = /(?:https?:\\/\\/)?(?:www\\.)?instagram\\.com\\/[a-zA-Z0-9\\-._]+\\/?/gi;\nconst instagramMatches = textContent.match(instagramRegex);\nif (instagramMatches && instagramMatches.length > 0) {\n  const cleanInstagram = instagramMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.instagram = cleanInstagram;\n}\n\n// Twitter/X extraction - improved to match usernames properly\nconst twitterRegex = /(?:https?:\\/\\/)?(?:www\\.)?(?:twitter\\.com|x\\.com)\\/[a-zA-Z0-9_]+\\/?/gi;\nconst twitterMatches = textContent.match(twitterRegex);\nif (twitterMatches && twitterMatches.length > 0) {\n  const cleanTwitter = twitterMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.twitter = cleanTwitter;\n}\n\n// Alternative extraction for social handles without full URLs\n// Look for @username patterns for Instagram and Twitter\nif (result.instagram === \"None\") {\n  const igHandleRegex = /@([a-zA-Z0-9._]{1,30})/gi;\n  const igHandles = textContent.match(igHandleRegex);\n  if (igHandles && igHandles.length > 0) {\n    const username = igHandles[0].replace('@', '');\n    if (username.length > 0 && !username.includes(' ')) {\n      result.instagram = `https://www.instagram.com/${username}`;\n    }\n  }\n}\n\n// Look for Twitter handles without full URLs\nif (result.twitter === \"None\") {\n  const twitterHandleRegex = /@([a-zA-Z0-9_]{1,15})/gi;\n  const twitterHandles = textContent.match(twitterHandleRegex);\n  if (twitterHandles && twitterHandles.length > 0) {\n    const username = twitterHandles[0].replace('@', '');\n    if (username.length > 0 && !username.includes(' ')) {\n      result.twitter = `https://www.x.com/${username}`;\n    }\n  }\n}\n\n// Clean up URLs - remove trailing slashes and parameters\n['linkedin', 'facebook', 'instagram', 'twitter'].forEach(platform => {\n  if (result[platform] !== \"None\") {\n    result[platform] = result[platform].split('?')[0].split('#')[0].replace(/\\/$/, '');\n  }\n});\n\nreturn result;"
      },
      "id": "7307c4ae-a9b2-496e-a99e-237c2905b799",
      "name": "Extract Contact Information",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=drivesdk",
          "cachedResultName": "Google Maps Scraper"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 2056137853,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit#gid=2056137853",
          "cachedResultName": "Details"
        },
        "columns": {
          "value": {
            "emails": "={{ $json.emails }}",
            "twitter": "={{ $json.twitter }}",
            "website": "={{ $json.website }}",
            "facebook": "={{ $json.facebook }}",
            "linkedin": "={{ $json.linkedin }}",
            "instagram": "={{ $json.instagram }}"
          },
          "schema": [
            {
              "id": "website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "emails",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "emails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "linkedin",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "facebook",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "facebook",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "instagram",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "twitter",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "275ad0ba-ef1e-4f55-b0f5-9638df042d08",
      "name": "Save Contact Details",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        688,
        272
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=drivesdk",
          "cachedResultName": "Google Maps Scraper"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1948906848,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit#gid=1948906848",
          "cachedResultName": "Data"
        },
        "columns": {
          "value": {
            "status": "true",
            "website": "={{ $json.website }}"
          },
          "schema": [
            {
              "id": "searchString",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searchString",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "categoryName",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "categoryName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "hasWebsite",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "hasWebsite",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "website"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fb25d2a1-67c9-4cdc-ba48-fbdbd2cc2487",
      "name": "Mark as Processed",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        912,
        336
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WFqRRrt0CS9QJzXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 INITIALIZATION PHASE\n- Triggers every 30 minutes\n- Reads unprocessed records from [Google Sheet](https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=sharing)\n- Starts Google Places scraper for restaurants\n- Waits for completion",
        "height": 180,
        "width": 640,
        "color": 4
      },
      "id": "873d8f36-dbbc-4135-be39-173c5d08041b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 DATA COLLECTION PHASE\n- Monitors scraper job status\n- Loops until job completes\n- Fetches scraped restaurant data\n- Saves to \"Data\" sheet in [Google Sheets](https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=sharing)",
        "height": 180,
        "width": 660
      },
      "id": "ac457305-587f-43b9-9a79-ef5704816f89",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🌐 WEBSITE PROCESSING PHASE\n- Filters restaurants with valid websites\n- Loops through each website\n- Scrapes website content with Firecrawl\n- Extracts contact information (emails, social media)\n- Saves to \"Details\" sheet and marks as processed",
        "height": 200,
        "width": 740,
        "color": 6
      },
      "id": "ced48c65-b570-41e4-8bc3-8505bd265f9c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 LOOPS\n**Status Check Loop**: Continues until scraper job is complete\n**Website Processing Loop**: Processes each restaurant website individually",
        "height": 120,
        "width": 580
      },
      "id": "f132f306-a7bd-4013-8d8a-f1661538f4fa",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => ({\n  json: {\n    Station_ID: item.json.placeId || '',\n    Station_Name: item.json.title || '',\n    Address: item.json.address || 'N/A',  // ✅ SIN comillas extras\n    Latitude: item.json.location?.lat || 0,\n    Longitude: item.json.location?.lng || 0,\n    Rating_Average: item.json.totalScore || 0,\n    Total_Reviews: item.json.reviewsCount || 0,\n    Open_24_Hours: (item.json.openingHours || []).every(d => d.hours?.includes('24 hours')),\n    Google_Maps_URL: item.json.url || '',\n    Decision_Score: Math.round((\n      (item.json.totalScore/5)*40 + \n      Math.min(Math.log((item.json.reviewsCount||0)+1)*10, 30) +\n      ((item.json.openingHours||[]).every(d=>d.hours?.includes('24'))?30:0)\n    )*10)/10\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        608
      ],
      "id": "5984fd04-f309-4a10-b887-8f73ac48aad5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "split-batches-amenities",
      "name": "Process Each Station",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $env.GOOGLE_PLACES_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.types"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.Latitude }},\n        \"longitude\": {{ $json.Longitude }}\n      },\n      \"radius\": 300\n    }\n  },\n  \"includedTypes\": [\"convenience_store\", \"cafe\", \"atm\", \"car_repair\"],\n  \"maxResultCount\": 10\n}",
        "options": {}
      },
      "id": "http-places-api",
      "name": "Search Nearby Amenities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const station = $('Process Each Station').first().json;\nconst response = $input.first().json;\n\n// Extract amenities from Google Places API response\nconst places = response.places || [];\n\nlet nearbyOxxo = false;\nlet nearbyCoffee = false;\nlet nearbyMechanic = false;\nlet nearbyATM = false;\n\n// Analyze found places\nfor (const place of places) {\n  const types = place.types || [];\n  \n  if (types.includes('convenience_store')) nearbyOxxo = true;\n  if (types.includes('cafe')) nearbyCoffee = true;\n  if (types.includes('car_repair')) nearbyMechanic = true;\n  if (types.includes('atm')) nearbyATM = true;\n}\n\n// Calculate amenities score\nlet amenitiesScore = 0;\nif (nearbyOxxo) amenitiesScore += 5;\nif (nearbyCoffee) amenitiesScore += 5;\nif (nearbyMechanic) amenitiesScore += 5;\nif (nearbyATM) amenitiesScore += 5;\n\n// Recalculate Decision Score with amenities\nconst rating = station.Rating_Average || 0;\nconst reviews = station.Total_Reviews || 0;\nconst is24hrs = station.Open_24_Hours || false;\n\nconst ratingScore = (rating / 5) * 40;\nconst reviewScore = Math.min(Math.log(reviews + 1) * 10, 30);\nconst availabilityScore = is24hrs ? 10 : 0;\n\nconst decisionScore = Math.round((\n  ratingScore + \n  reviewScore + \n  availabilityScore + \n  amenitiesScore\n) * 10) / 10;\n\nreturn [{\n  json: {\n    ...station,\n    Nearby_OXXO: nearbyOxxo,\n    Nearby_Coffee: nearbyCoffee,\n    Nearby_Mechanic: nearbyMechanic,\n    Nearby_ATM: nearbyATM,\n    Amenities_Score: amenitiesScore,\n    Decision_Score: decisionScore\n  }\n}];"
      },
      "id": "code-calculate-amenities",
      "name": "Calculate Amenities Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger-node",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format error message for email notification\nconst error = $input.first().json;\nconst workflowName = \"Gas Station Analyzer\";\n\n// Extract error details\nconst errorMessage = error.message || 'Unknown error';\nconst errorNode = error.node?.name || 'Unknown node';\nconst errorTime = new Date().toLocaleString('es-MX', { \n  timeZone: 'America/Mexico_City',\n  dateStyle: 'full',\n  timeStyle: 'long'\n});\n\n// Build formatted message\nconst emailSubject = `🚨 Error en ${workflowName}`;\nconst emailBody = `\n<h2 style=\"color: #d32f2f;\">⚠️ Error Detectado en Workflow</h2>\n\n<div style=\"background-color: #f5f5f5; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n  <p><strong>📋 Workflow:</strong> ${workflowName}</p>\n  <p><strong>🔴 Nodo con Error:</strong> ${errorNode}</p>\n  <p><strong>⏰ Fecha y Hora:</strong> ${errorTime}</p>\n</div>\n\n<div style=\"background-color: #ffebee; padding: 15px; border-radius: 5px; border-left: 4px solid #d32f2f;\">\n  <h3 style=\"color: #d32f2f; margin-top: 0;\">Mensaje de Error:</h3>\n  <pre style=\"white-space: pre-wrap; word-wrap: break-word;\">${errorMessage}</pre>\n</div>\n\n<div style=\"margin-top: 20px; padding: 15px; background-color: #e3f2fd; border-radius: 5px;\">\n  <h3 style=\"color: #1976d2; margin-top: 0;\">🔧 Acciones Recomendadas:</h3>\n  <ul>\n    <li>Revisa el nodo <strong>${errorNode}</strong> en n8n</li>\n    <li>Verifica las credenciales de APIs (Apify, Google Sheets, Google Places)</li>\n    <li>Confirma que los datos de entrada sean válidos</li>\n    <li>Revisa los logs completos en n8n: <a href=\"http://localhost:5678\">http://localhost:5678</a></li>\n  </ul>\n</div>\n\n<hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ccc;\">\n\n<p style=\"color: #666; font-size: 12px;\">\n  Este es un mensaje automático del sistema de monitoreo de workflows n8n.<br>\n  Para más información, contacta al administrador del sistema.\n</p>\n`;\n\nreturn [{\n  json: {\n    subject: emailSubject,\n    body: emailBody,\n    errorNode: errorNode,\n    errorMessage: errorMessage,\n    timestamp: errorTime\n  }\n}];"
      },
      "id": "format-error-message",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        600
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@gasstationanalyzer.com",
        "toEmail": "admin@example.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1648,
        600
      ],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      },
      "notes": "⚠️ CONFIGURAR: Actualiza 'toEmail' con tu email y configura credenciales SMTP en n8n"
    },
    {
      "parameters": {
        "content": "## 🚨 ERROR HANDLING\n- Captura errores de cualquier nodo del workflow\n- Formatea mensaje con detalles del error\n- Envía notificación por email al administrador\n- **⚠️ IMPORTANTE:** Configura credenciales SMTP y email de destino",
        "height": 180,
        "width": 580,
        "color": 7
      },
      "id": "error-handling-sticky",
      "name": "Sticky Note - Error Handling",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processed": {
      "main": [
        [
          {
            "node": "Batch Processing Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Business Data": {
      "main": [
        [
          {
            "node": "Filter Businesses with Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Until Complete": {
      "main": [
        [
          {
            "node": "Wait for Job Succeed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Scraped Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Queries": {
      "main": [
        [
          {
            "node": "Start Apify Scraping Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Contact Details": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Job Succeed": {
      "main": [
        [
          {
            "node": "Check Scraping Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scraping Status": {
      "main": [
        [
          {
            "node": "Loop Until Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraped Results": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Processing Logic": {
      "main": [
        [],
        [
          {
            "node": "Scrape Website Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website Content": {
      "main": [
        [
          {
            "node": "Extract Contact Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Scraping Job": {
      "main": [
        [
          {
            "node": "Wait for Job Succeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Information": {
      "main": [
        [
          {
            "node": "Save Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Businesses with Websites": {
      "main": [
        [
          {
            "node": "Batch Processing Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Process Each Station",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Station": {
      "main": [
        [
          {
            "node": "Search Nearby Amenities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Nearby Amenities": {
      "main": [
        [
          {
            "node": "Calculate Amenities Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Amenities Score": {
      "main": [
        [
          {
            "node": "Save Business Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2642ac10-8d7f-4c72-bf97-52d90215f89c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ae97440595d07fccd8ba2172a13e78ddfdbbe1a5070ad30aebc789c28d2aba5"
  },
  "id": "f8h0TZ4lTu3YDzTX",
  "tags": [
    {
      "name": "scraping",
      "id": "bX3v99LLiYQmbU19",
      "updatedAt": "2026-01-18T04:19:11.243Z",
      "createdAt": "2026-01-18T04:19:11.243Z"
    }
  ]
}